<#-- -->

<@li.search action="role_list.do">
	<input name="key" class="input" placeholder="搜索关键字" value="${key!}"/>
</@li.search>

<@li.table cols=4 list=list;each>
	<@li.tr title="ID">${each.id}</@li.tr>
	<@li.tr title="名称">${each.name }</@li.tr>
	<@li.tr title="描述">${each.description}</@li.tr>
	<@li.tr title="权限">
		<#assign max=6>
		<#if each.resources?size lt max>
			<#assign max=each.resources?size>
		</#if>
		<#if each.resources?size gt 0>			
			<#list each.resources[0..max-1] as resource>
				<span title="${resource.id}  - ${resource.name}  - ${resource.description} ">${resource.description} </span>
			</#list>
		</#if>
		<#if each.resources?size gt max>
			<span title="共${each.resources?size}个">...</span>
		</#if>
	</@li.tr>
	<@li.tr title="操作">
		<a class="window" href="role_edit.do?id=${each.id}">修改</a>
		<a class="delete" href="role_delete.do?id=${each.id}">删除</a>
	</@li.tr>
</@li.table>

<@li.page pg=page/>
<a class="btn btn-primary window" href="role_add.do"><i class="icon-plus"></i>添加</a>