<#-- -->

<@li.search action="account_list.do">
	<input name="key" class="input" placeholder="搜索关键字" value="${key!}"/>
</@li.search>

<@li.table cols=6 list=list;each>
	<@li.tr title="ID">${each.id}</@li.tr>
	<@li.tr title="账户">${each.username }</@li.tr>
	<@li.tr title="邮箱">${each.email}</@li.tr>
	<@li.tr title="角色">${each.role_name!}</@li.tr>
	<@li.tr title="状态">${each.status}</@li.tr>
	<@li.tr title="操作">
		<a class="window" href="account_edit.do?id=${each.id}">修改</a>
		<a class="delete" href="account_delete.do?id=${each.id}">删除</a>
	</@li.tr>
</@li.table>

<@li.page pg=page/>
<a class="btn btn-primary window" href="account_add.do"><i class="icon-plus"></i>添加</a>